.link-input {

    width: 100%;

    &__label {
        @include montserrat-font($text-regular-size, 400, 17px, 0em);
        text-align: left;
        color: #4A24AC;
    }

    &__input {
        width: 100%;
        @include montserrat-font($text-medium-size, 500, 17px, 0em);
        text-align: left;
        color: #363C56;
        border: none;
        outline: none;
        padding: 0px;
        margin: 0px;
        margin-top: 5px;
    }

    &__underline {
        width: 100%;
        height: 1px;
        margin-top: 10px;
        background-color: #4A24AC;

        &--error {
            background-color: red!important;
        }
    }

}
