.shorten-link-card {
  @include center-content();
  @include box(462px, 480px);
  flex-direction: column;
  padding: 40px;
  border-radius: 30px;
  gap: 32px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 80px 0px #2203860F;

  &__logo {
    width: 100%;
    max-width: 300px;
  }

  &__content {
    @include center-content();
    flex-direction: column;
    width: 100%;
    gap: 24px
  }

  &__title {
    @include montserrat-font($text-title-size, $text-semibold, 28px, -0.02em);
    text-align: center;
    color: #363C56;
  }

  &__button {
      box-shadow: 0px 0px 30px 0px #363C5612;
      width: 100%;
      height: 46px;
      background-color: #4A24AC;
      color: white;
      @include montserrat-font($text-medium-size, 500, 17px, 0em);
      text-align: center;
      border-radius: 3rem;
      border: none;
  }
}
